
<div class="d-flex justify-center pb-8 pt-8">
    <MudImage Src="Imgs/logo-docspider.png" Width="200"></MudImage>
</div>

<MudNavMenu>
    <MudNavLink Href="/documents" Match="NavLinkMatch.All"
                Icon="@Icons.Material.Filled.DocumentScanner">Documents</MudNavLink>
    <MudNavLink Href="/upload"
                Icon="@Icons.Material.Filled.Upload">Upload</MudNavLink>
</MudNavMenu>